<div
    class="group relative h-[254px] w-full overflow-hidden rounded-[10px] bg-white p-[15px] transition-all duration-[0.3s] hover:bg-white">
    <a href="{Router::url('/productos/' . $product['id'])}">
        <div class="flex h-fit w-full flex-col items-center justify-center gap-[15px]">
            <div
                class="flex h-[170px] w-full items-center justify-center text-[5em] font-black transition-all duration-[0.3s] group-hover:h-[120px]">
                <img src={ImageHelper::getImageWithFallback($product['image_url'] ?? null, 'medium' )}
                    alt={$product['name']} class="h-full w-full object-cover" loading="lazy" />
            </div>
            <div class="flex h-fit w-full flex-col items-start justify-between overflow-hidden">
                <p class="truncate text-[0.72em] font-medium text-neutral-600 uppercase">{$product['name']}</p>
                <p class="text-[1em] font-bold text-neutral-600 uppercase">$ {number_format($product['price'], 2)}</p>
                <p></p>
            </div>
            <button
                class="mt-2.5 h-10 w-full cursor-pointer rounded-[40px] border-0 bg-[rgb(24,24,24)] font-medium text-white transition-all duration-[0.3s] group-hover:mt-0 hover:bg-[greenyellow] hover:text-[rgb(35,35,35)]"
                onclick="addToCart({$product['id']})">
                Agregar al carrito
            </button>
        </div>
        <div class="absolute top-2 left-2 flex flex-col space-y-1">
            {if (!empty($product['is_new']) && $product['is_new'] == 1)}
            <span
                class="absolute top-5 left-5 rounded-[15px] bg-[greenyellow] px-3 py-1.5 text-xs font-medium text-black">
                Nuevo
            </span>
            {/if}
            {if (!empty($product['featured']) && $product['featured'] == 1)}
            <span
                class="absolute top-5 left-5 rounded-[15px] bg-primary-500 px-3 py-1.5 text-xs font-medium text-white">
                Destacado
            </span>
            {/if}
            {if (!empty($product['best_seller']) && $product['best_seller'] == 1)}
            <span class="absolute top-5 left-5 rounded-[15px] bg-red-500 px-3 py-1.5 text-xs font-medium text-white">
                Más Vendido
            </span>
            {/if}
        </div>
    </a>
</div>