DB_HOST=localhost
DB_NAME=db_name
DB_USER=db_user
DB_PASS=db_password
DB_CHARSET=utf8mb4

APP_NAME="Ecommerce MVC"
APP_URL=http://localhost
APP_DEBUG=true

IMAGE_BASE_URL=https://wenzhou.erponweb.com.mx/customcode/redim.php
IMAGE_PATH=imagenes/
DIRECT_IMAGE_URL=https://wenzhou.erponweb.com.mx/imagenes/

STRIPE_PUBLIC_KEY=pk_test_your_stripe_public_key
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key

SESSION_LIFETIME=7200

TIMEZONE=America/Mexico_City